<li class="row">
  <span id="title" class="col-xs-6" data="<%= obj.id %>"><%= obj.title %></span>
  <span id="influence" class="col-xs-2" data="<%= obj.id %>"><%= obj.influence %></span>
  <span id="time" class="col-xs-2" data="<%= obj.id %>"><%= obj.time %></span>
  <span id="deadline" class="col-xs-2" data="<%= obj.id %>">
    <%= obj.deadline != nil ? obj.deadline.strftime('%Y/%m/%d') : '　　　　　' %>
    <%= link_to '削除', obj_path(obj), method: :delete %>
  </span>
</li>
