<li class="row">
  <span id="title" class="col-md-6" data="<%= obj.id %>"><%= obj.title %></span>
  <span id="influence" class="col-md-2 col-xs-3" data="<%= obj.id %>"><%= obj.influence %></span>
  <span id="time" class="col-md-2 col-xs-3" data="<%= obj.id %>"><%= obj.time %></span>
  <span id="deadline" class="col-md-2 col-xs-6" data="<%= obj.id %>">
    <p class="deadline"><%= obj.deadline != nil ? obj.deadline.strftime('%Y/%-m/%-d') : '　　　　　' %></p>
    <p class="delete" data="<%= obj.id %>">削除</p>
  </span>
</li>
