<div class="header row">
  <h1 class="col-md-8 col-xs-12">auto_align_app</h1>
  <p class="time col-md-2 hidden-xs">合計時間<br />
    <span class="sum"><%= "#{@sum_time/60}時間#{@sum_time%60}分" %></span>
  </p>
  <p class="col-xs-6 visible-xs">合計時間
    <span class="sum"><%= "#{@sum_time/60}時間#{@sum_time%60}分" %></span>
  </p>
  <p class="user col-md-2 hidden-xs">
    <%= current_user.name %><br />
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  </p>
  <p class="col-xs-6 visible-xs">
    <%= current_user.name %>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  </p>
</div>
<div class="body">
  <li class="row">
    <%= form_for(@obj, method: :post, url: objs_path, class: 'form-inline') do |f| %>
      <span class="col-md-4">
        <%= f.label :title, 'タスク名' %>
        <%= f.text_field :title, placeholder: 'タスク名', autofocus: true %>
      </span>
      <span class="col-md-2">
        <%= f.label :influence, '影響力' %>
        <%= f.text_field :influence, placeholder: '1~100' %>
      </span>
      <span class="col-md-2">
        <%= f.label :time, '所要時間' %>
        <%= f.text_field :time, placeholder: '分単位' %>
      </span>
      <span class="col-md-2">
        <%= f.label :deadline, '期日' %>
        <%= f.text_field :deadline, placeholder: '期日', id: 'datepicker' %>
      </span>
      <span class="col-md-2" style="text-align: center;">
        <%= f.submit 'Send', class: 'send' %>
      </span>
    <% end %>
  </li>
  <div class="li-wrapper">
    <%= render partial: 'obj', collection: @objs %>
  </div>
</div>
